//general font-size
$global-fz: 15;

//colors
$grey-light: #cdcdcd;
$grey-easy: #b2b2b2;
$grey: #545454;
$grey-m: #4c4c4c;
$grey-sd: #444444;
$grey-d: #292929;
$black: #000000;

$white-light: #fafafa;
$white: #ffffff;
$white-dark: #f6f6f6;
$primary-light: #fddcc4;
$primary: #f1cdb3;

//prealoder colors
$blue: #009ddc;
$green: #50b949;
$light-red: #ee2d24;
$red: #f00;
$yellow: #feb825;
